<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>名字全称</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>

    <!--背景-->
    <div class="main" style="background: url('../static/name_bg.jpg') 100% 100% no-repeat; background-size: 100% 100%;">
        <!--登录框-->
        <div class="loginFrame">
            <!--标题-->
            <p class="loginTitle">欢迎光临~~~【名字全称】</p>
            <form method="post" action="/fullname">
                <!--用户名-->
                <div class="user">
                    <label>
                        <span>First name</span>
                        <!--输入框-->
                        <input type="text" name="firstname">
                    </label>
                </div>
                <!--密码-->
                <div class="password">
                    <label>
                        <span>Last name</span>
                        <!--输入框-->
                        <input type="text" name="lastname">
                    </label>
                </div>
                <!--登录按钮-->
                <div class="enterBut">
                    <button type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>


</body>

</html>